<?php

return (object) array(
    //Настройки подключения к БД
    'host' => ,
    'user' => ,
    'password' => ,
    'database'=> ,

    //Настройки Gmail SMTP сервера
    'gm_login' => ,
    'gm_password' =>
);
